.c-app__main{
    display: flex;
    flex: 1;
 }
 
 .c-app__drawer{
    width: 30%;
    height: calc(100% - var(--header-height));
    padding: 0.4em;
    position: absolute;
    overflow: auto;
    background: var(--color-sidebar-content);
 }
 
 .c-app__content{
    width: 70%;
    height: 100%;   
    padding: 0.4em;
    position: absolute;
    left: 30%;
    background: var(--color-main-background);
 }