.c-icon {
  display: inline-block;
}

.c-icon svg {
  width: 100%;
  height: 100%;
}

[class^="icon-"], [class*=" icon-"] {
  margin-bottom: -3px;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
.icon-folder{fill:#656565;}